nav {
  display: flex;
}
.navigation {
  padding-top: 50px;
  margin-bottom: 77px;

  .navigation__wrapp {
    display: flex;
    justify-content: space-between;

    .navigation__list {
      display: flex;
      align-items: center;
      gap: 51px;

      .navigation__list-link{
        text-decoration: none;
        color: $text;
        transition: color 0.2s;

        &:hover {
          text-decoration: underline;
          color: $main
        }
      }
    }
  }
}