nav {
  display: flex;
}
.navigation {
  padding-top: 50px;
  @media screen and (max-width: $lg) {
    padding-top: 30px;
  }
  @media screen and (max-width: $md) {
    padding-top: 20px;
  }
  @media screen and (max-width: $sm) {
    padding-top: 14px;
  }

  .navigation__wrapp {
    display: flex;
    justify-content: space-between;

    .navigation__list {
      display: flex;
      align-items: center;
      gap: 51px;
      @media screen and (max-width: $sm) {
        display: none;
      }

      .navigation__list-link{
        text-decoration: none;
        color: $text;
        transition: color 0.2s;

        &:hover {
          text-decoration: underline;
          color: $main
        }
      }
    }
  }
}