
$text: #3F3A51;
$gray: #8F99AC;
$main: #4047E2;

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

.container {
  max-width: 1260px;
}